<h1> Snap Array</h1>

<div class="posts-wrapper row">
  <% @snaps.each do |snap| %>
    <div class="post">
      <div class="post-head">
        
      </div>
      <div class="image center-block">
        <%= link_to (image_tag snap.image.url(:medium), class:'img-responsive'), snap_path(snap) %>
      </div>
      <p class="caption">
        <%= snap.caption %>
      </p>
    </div>
  <% end %>
</div>

 